@{
    ViewBag.Title = "Zamówienie zostało zrealizowane";
}

<h2>Dziękuję!</h2>
<p>Dziękujemy za wybranie naszego sklepu. Zamówienie zostanie wysłane do firmy kurierskiej tak szybko, jak to możliwe.</p>
